<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616257018786-d72or4m2ts4mhg6ugpga10vhut00231r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616257018786-d72or4m2ts4mhg6ugpga10vhut00231r</string>
	<key>API_KEY</key>
	<string>AIzaSyCJNfhjS97wGinEracetH5j5amMlHMmlUY</string>
	<key>GCM_SENDER_ID</key>
	<string>616257018786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfirbase</string>
	<key>PROJECT_ID</key>
	<string>myfirebase-ff1d7</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirebase-ff1d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616257018786:ios:757fa569451004dab630fb</string>
</dict>
</plist>